a {
    font-family: 'Jost';
    font-size: 18px ;
  }

  button{
    padding: 10px 25px;
    font-family: 'Jost';
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
  }

  .header__settings button {
    background-color: transparent;
    color: #454858;
    border: 1px solid #454858;
    
  }

  .button--orange{
    margin-right: 10px ;
    background-color: #fd909e;
    color: #fff;
    border: none;
  }
  p {
    font-family:'Jost';
    font-size: 15px;
    font-weight: 300;
  }

  h2{
    margin: 5px 0px;
    color: #454868;
    font-family: 'Jost';
    font-size: 48px;
    line-height: 55px;
    letter-spacing: -0,64px;
  }